// :local(#root)
//   display flex
//   >*
//     flex 1
.a
  margin auto
.edit
  .edit_title, .edit_keyword
    border-bottom 1px solid #cccccc
    box-sizing border-box
    padding 5px
    margin 5px
    width 100%
    span
      display inline-block
      width 100px
      text-align end
      margin-right 20px
