html, body, #root, .layout {
  min-height: 100%; 
}
* {
  margin: 0;
  padding: 0;
}
.list_item {
  position: relative;
  box-sizing: border-box;
  border: 1px solid #ccc;
  margin: 6px 2px;
  padding: 6px;
}
.list_item>div {
  margin: 6px 0;
}
.list_item>div>span {
  border: 1px solid #ccc;
  margin: 0 6px 0 0;
  padding: 2px 4px;
}
.list_item>.modifu_span {
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 12px;
  line-height: 1;
  background-color: skyblue;
  border: 1px solid #000;
  cursor: pointer;
}
.detail_container {
  box-sizing: border-box;
  padding: 10px;
}
.detail_container>.keywords {
  padding: 6px;
  border-bottom: 1px solid #ccc;
  display: flex;
}
.detail_container>.keywords>span {
  border: 1px solid #eee;
}
.home {
  height: 100%;
}
