// :local(#root)
//   display flex
//   >*
//     flex 1
.a
  margin auto
.edit
  .edit_title, .edit_keyword
    border-bottom 1px solid #cccccc
    box-sizing border-box
    padding 5px
    margin 5px
    width 100%
    span
      display inline-block
      width 100px
      text-align end
      margin-right 20px
.blog_address
  overflow hidden
  box-sizing border-box
  padding-top 4px
  background-color #333333
  color #eee
  position absolute
  right 0
  top 0
  min-height 64px
  width 70%
  >div
    box-sizing border-box
    padding-top 4px
    display inline-block
    width 50%